
body{
	background-color: lightblue;

}

h4{
  color: Maroon;
  background-color: steelblue;
}

#mySignature{
  text-align: right;
  color: rebeccapurple;
  font-style: oblique;
  font-size: 50%;

}

h1{
  color: olive;
  background-color: black;

}

.myBlock{
  color: pink;
  font-size: 18px;
}

